<ion-header class="ion-no-border">
  <ion-toolbar class="principal">
    <ion-buttons *ngIf="!isModal" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <!-- BACKBUTTON -->
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
      <!-- DISMISS-MODAL -->
      <ion-button *ngIf="isModal" (click)="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


    <img src="assets/img/Logo.png" alt="" class="img-logo">
    <ion-title class="title ion-text-start">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>