<ion-header [translucent]="true">
  <ion-toolbar class="principal">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="assets/img/Logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="warning" color="warning" slot="start"></ion-icon>
      <ion-label><h2>Error 404</h2></ion-label>
      <ion-icon name="warning" color="warning" slot="end"></ion-icon>
    </ion-item>
  
    <ion-card-content>
      <ion-label>La pagina que busca no existe o no se encuentra disponible en estos momentos</ion-label>
    </ion-card-content>
    <ion-button [routerLink]="['/home']" class="button" align-items="center">Ir al detalle</ion-button>
  </ion-card>
</ion-content>